
// ----------------------|    Main-color   |----------------------------  //
$red:                                            #DA3232;        
$green:                                          rgb(23, 151, 23);
$blue:                                           #2196F3;
$light-gray:                                     #E4E3E9;
$gray:                                           #747474;
$white:                                          #FFF;

$text-color:                                     #000000;
$text-color-light:                               #00000099;
